@use '_base' as *;
// I believe the above is the newer version of import.

body {
    display: $mydisplay;
    background-color: #ffffff;
    flex-direction: column;
}
.topSection {
    // flex-direction: row;
    background-color: $topSectionColor;
    display: $mydisplay;
    padding-top: 40px;
    padding-bottom: 40px;
}
.icon {
    display: $mydisplay;
    padding-left: 8%;
    
}
.topSectionText {
    display: $mydisplay;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15%;
}

.name {
    h1{
        color: #ffffff;
        margin-top: 50px;
        margin-bottom: 0px;
        font-size: 60px;
    }
}
.jobTitle {
    h3 {
        color: #ffffff;
        margin-top: 10px;
        font-size: 25px;
        font-weight: lighter;
    }
}
.summarySection {
    display: $mydisplay;
    flex-direction: row;
    
}
.leftHalf {
    margin-left: 5%;
    margin-right: 70px;
    margin-top: 20px;
    padding-bottom: 20px;
    color: #4b515f;
    p{
        margin-right: $rightMargins;
        // this is the extend property. Applies this to any paragraph in this div.
        // including attributes for paragraphs within another div.
    }
    i{
        margin-right: $rightMargins;
    }
    h1 {
        margin-right: $rightMargins;
        margin-bottom: 10px;
    }
}
.divider {
    border-top: 8px solid #babec7;
    border-radius: 5px;
    margin-right: 88%;
    margin-top: 1px;
}
.icon {
    display: $mydisplay;
    margin-left: 40px;
}
.personalProfile {
    display: $mydisplay;
    flex-direction: column;
    // margin-right: $leftMargins;
    // may be able to make set margins for this, contact, and education sections.
}
.contact {
    display: $mydisplay;
    flex-direction: column;
    // margin-right: $leftMargins;
    // this margin will need to differ because of the icons I need.
}
.education {
    display: $mydisplay;
    flex-direction: column;
    // margin-right: $leftMargins;
}
.rightBox {
    display: $mydisplay;
    flex-direction: column;
    background-color: $rightBackground;
    padding-top: 20px;
    margin-left: -34%;
    padding-right: 37%;
    padding-left: 5%

}
.rightHalf {
    padding-left: 20px;
    color: #4b515f;
    // display: $mydisplay;
    // flex-direction: column;
    // align-items: center;
}
// .skills {
//     display: $mydisplay;
//     flex-direction: column;
//     align-content: center;
// }
.workExperience {
    // display: $mydisplay;
    // flex-direction: column;
    // align-items: center;
    // h1 {
    //     display: $mydisplay;
    //     align-items: flex-start;
    // }
}
.iconContent {
    display: $mydisplay;
    flex-direction: row;
    margin-bottom: -12px;

}
.mapPin {
    padding-top: 20px;
    padding-right: 5px;
}
.align {
    padding-top: 14px;
    padding-right: 5px;
}
.education {
    p{
        margin-bottom: -7px;
    }
}
.monkeys{
    h3 {
        margin-bottom: -10px;
    }
    h5 {
        margin-bottom: -5px;
    }

}
.notBold {
    padding-left: 3px;
    font-weight: lighter;
}
.worldMark{
    // display: $mydisplay;
    // flex-direction: column;
    // align-items: center;
    h3 {
        margin-bottom: -10px;
    }
    h5 {
        margin-bottom: -5px;
    }
    // ul {
    //     display: $mydisplay;
    //     flex-direction: column;
    //     align-items: center
    // }
}


// import properties from a separate css file like body or topsection as examples
// extend is when you also add to your body section even if you have a body css file
// @import 'body.css';
// @import 'topSection.css';


// .body {
//     &--topSectionText {
//         @extend .error;
//         display: flex;
//         flex-direction: column;
//         align-items: flex-end;
//     }
// }
// mix ins could be for the sizing/font of headers
// including things like spacing and such.
// INCLUDING THIS BUT IT MESSED UP MY CODE, SO I WANT TO USE IT BUT GET IT TO FUNCTION AGAIN FIRST