@use '_base' as *;


body {
    display: $mydisplay;
    background-color: #ffffff;
    flex-direction: column;
}
.topSection {
    // flex-direction: row;
    margin-bottom: 10px;
    background-color: $topSectionColor;
    display: $mydisplay;
}
.icon {
    display: $mydisplay;
    
}
.topSectionText {
    display: $mydisplay;
    flex-direction: column;
    align-items: flex-end;
}
.summarySection {
    display: $mydisplay;
    flex-direction: row;
    
}
.leftHalf {
    margin-left: 5%;
}
.icon {
    display: $mydisplay;
    margin-left: 40px;
}
.personalProfile {
    display: $mydisplay;
    flex-direction: column;
    margin-right: $leftMargins;
    // may be able to make set margins for this, contact, and education sections.
}
.contact {
    display: $mydisplay;
    flex-direction: column;
    margin-right: $leftMargins;
    // this margin will need to differ because of the icons I need.
}
.education {
    display: $mydisplay;
    flex-direction: column;
    margin-right: $leftMargins;
}
.rightHalf {
    display: $mydisplay;
    flex-direction: column;
    background-color: $rightBackground;
    margin-left: -45%;
    padding-right: 45%;

}

// import properties from a separate css file like body or topsection as examples
// extend is when you also add to your body section even if you have a body css file
// @import 'body.css';
// @import 'topSection.css';


// .body {
//     &--topSectionText {
//         @extend .error;
//         display: flex;
//         flex-direction: column;
//         align-items: flex-end;
//     }
// }
// mix ins could be for the sizing/font of headers
// including things like spacing and such.
// INCLUDING THIS BUT IT MESSED UP MY CODE, SO I WANT TO USE IT BUT GET IT TO FUNCTION AGAIN FIRST