@use '_base' as *;
// I believe the above is the newer version of import.

body {
    display: $mydisplay;
    background-color: #ffffff;
    flex-direction: column;
}
.topSection {
    // flex-direction: row;
    background-color: $topSectionColor;
    display: $mydisplay;
    padding-bottom: 10px;
}
.icon {
    display: $mydisplay;
    
}
.topSectionText {
    display: $mydisplay;
    flex-direction: column;
    align-items: flex-end;
}
.summarySection {
    display: $mydisplay;
    flex-direction: row;
    
}
.leftHalf {
    margin-left: 5%;
    margin-right: 10px;
    color: #4b515f;
    p{
        margin-right: $rightMargins;
        // this is the extend property. Applies this to any paragraph in this div.
        // including attributes for paragraphs within another div.
    }
    i{
        margin-right: $rightMargins;
    }
    h1 {
        margin-right: $rightMargins;
    }
}
.divider {
    border-top: 8px solid #babec7;
    border-radius: 5px;
    margin-right: 88%;
}
.icon {
    display: $mydisplay;
    margin-left: 40px;
}
.personalProfile {
    display: $mydisplay;
    flex-direction: column;
    // margin-right: $leftMargins;
    // may be able to make set margins for this, contact, and education sections.
}
.contact {
    display: $mydisplay;
    flex-direction: column;
    // margin-right: $leftMargins;
    // this margin will need to differ because of the icons I need.
}
.education {
    display: $mydisplay;
    flex-direction: column;
    // margin-right: $leftMargins;
}
.rightBox {
    display: $mydisplay;
    flex-direction: column;
    background-color: $rightBackground;
    margin-left: -45%;
    padding-right: 37%;

}
.rightHalf {
    padding-left: 20px;
    color: #4b515f;
}
.iconContent {
    display: $mydisplay;
    flex-direction: row;
    margin-bottom: -12px;

}
.mapPin {
    padding-top: 20px;
    padding-right: 5px;
}
.align {
    padding-top: 14px;
    padding-right: 5px;
}
.education {
    p{
        margin-bottom: -7px;
    }
}
.monkeys{
    h3 {
        margin-bottom: -10px;
    }
    h5 {
        margin-bottom: -5px;
    }
}
.worldMark{
    h3 {
        margin-bottom: -10px;
    }
    h5 {
        margin-bottom: -5px;
    }
}

// import properties from a separate css file like body or topsection as examples
// extend is when you also add to your body section even if you have a body css file
// @import 'body.css';
// @import 'topSection.css';


// .body {
//     &--topSectionText {
//         @extend .error;
//         display: flex;
//         flex-direction: column;
//         align-items: flex-end;
//     }
// }
// mix ins could be for the sizing/font of headers
// including things like spacing and such.
// INCLUDING THIS BUT IT MESSED UP MY CODE, SO I WANT TO USE IT BUT GET IT TO FUNCTION AGAIN FIRST